@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

body {
  background: #e7e6de;
  color: #033579;
}

hr {
  border-top: 1px solid black !important;
  width: 20% !important;
}

h1 {
  font-size: 3.25rem;
  line-height: 1;
  font-family: "Pirata One", cursive;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.1;
  font-family: "IM Fell English", serif;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
  font-family: "IM Fell English", serif;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 1px solid #033579;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 5rem;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5rem;
}
